<!-- record bag file from stereo cameras ( you should also roslaunch start_pointgrey_stereo -->
<launch>

  <!-- Record bag file -->
  <node pkg="rosbag" type="record" name="rosbag" output="screen" args=" 
    /stereo/bottom/image_raw/compressed
    /stereo/bottom/camera_info 
    /stereo/top/image_raw/compressed
    /stereo/top/camera_info 
    /thermal/flir_boson_node/camera/image
    /thermal/flir_boson_node/camera/camera_info
    -b 0
   -o /home/jquenzel/bags/flir_stereo_thermal"/>
   <!-- -o /media/jquenzel/4d4598d7-28e0-4faf-81cb-f91eb9b11d7f/camera_rig/flir_stereo_thermal"/-->

    <!--
    /stereo_left/image_raw/compressed
    /stereo_left/camera_info 
    /stereo_right/image_raw/compressed
    /stereo_right/camera_info 
    /stereo_left/exposure_time
    /stereo_right/exposure_time
    -->
    
</launch>
 
