<!-- Starts both cameras in InventAiry setup of MBZIRC2 copter -->
<launch>
  <!-- env name="ROSCONSOLE_CONFIG_FILE" value="$(find genicam_driver)/debug_rosconsole.conf"/ -->

  <!-- node pkg="config_server" type="config_server" name="config_server"/ -->

  
<!--   <node pkg="spinnaker_camera_driver" type="multi_camera_node" name="genicam_stereo_node" output="screen"> 
     <param name="master_cam_idx" value="0"/>
    <param name="serial0" value="16171090"/>
    <param name="frame_id0" value="stereo_left"/>
    <param name="serial1" value="16171089"/>
    <param name="frame_id1" value="stereo_right"/>
    <param name="height" value="1200"/>
    <param name="width" value="1920"/>
    <param name="pixel_format" value="BGR8"/>
    <param name="frame_rate" value="20.0"/>
    <param name="exposure" value="4000"/>
    <param name="auto_exposure" value="Continuous"/>
    <param name="gain" value="20.0"/>
    <param name="auto_gain" value="Continuous"/>
    <param name="gamma" value="1.0"/>
    <param name="gamma_enable" value="true"/>
    <param name="reverse_x" value="false"/>
    <param name="reverse_y" value="false"/>
  </node>-->

      <node pkg="nodelet" type="nodelet" name="camera_nodelet_manager" args="manager" output="screen" ns="stereo"/>

    <node pkg="nodelet" type="nodelet" name="multisync_camera_nodelet" 
          args="load pointgrey_camera_driver/PointGreyMultiSyncCameraNodelet camera_nodelet_manager" output="screen" ns="stereo">
        <param name="frame_id" value="cam_left" /> <!-- 16171090 -->
        <param name="serial0" value="16171089"/> 
        <param name="serial1" value="16171090"/>
        <param name="frame_id0" value="bottom" />
        <param name="frame_id1" value="top" />

        <param name="master_cam_idx" value="0" /> <!-- master cam (here: serial0) triggers all slaves -->

        <param name="0/auto_white_balance" value="false"/>
        <param name="0/white_balance_blue" value="804"/>
        <param name="0/white_balance_red" value="723"/>

        <param name="1/auto_white_balance" value="false"/>
        <param name="1/white_balance_blue" value="804"/>
        <param name="1/white_balance_red" value="723"/>

        <param name="0/video_mode" value="format7_mode0" />
        <param name="1/video_mode" value="format7_mode0" />

        <param name="0/auto_exposure" value="false"/>
        <param name="1/auto_exposure" value="false"/>

        <param name="0/exposure" value="-1.5"/>
        <param name="1/exposure" value="-1.5"/>

        <param name="0/frame_rate" value="20" />
        <param name="1/frame_rate" value="20" />

        <param name="0/gamma" value="2.0"/>
        <param name="1/gamma" value="2.0"/>

        <param name="0/brightness" value="2.9"/>
        <param name="1/brightness" value="2.9"/>

        <param name="0/color_encoding" value="rgb8"/>
        <param name="1/color_encoding" value="rgb8"/>

        <param name="0/enable_trigger" value="true"/>
        <param name="1/enable_trigger" value="true"/>

        <param name="0/trigger_source" value="gpio0"/>
        <param name="1/trigger_source" value="gpio0"/>

                <param name="enable_strobe1" value="true"/>
    </node>
  
  <node pkg="flir_boson_driver" type="flir_boson_driver" name="flir_boson_node" output="screen" ns="thermal">
   </node>

   <!--
   <node pkg="camera_info_provider" type="camera_info_provider_node" name="camera_info_provider_node" output="screen" ns="thermal">
    <param name="readCamInfoFromFile" value="true"/>
    <param name="callCameraManagerService" value="true"/>
    <param name="numCams" value="1"/>
    <param name="camera_service0" value="/thermal/set_camera_info"/>
    <param name="camera_image_topic0" value="/thermal/image_raw"/>
    <param name="cam_name_in_file0" value="thermal"/>
    <param name="cameraConfigFile" value="$(find inventairy_launch)/config/blackfly_s_17011868_mbzirc2_mono_pinhole_radtan.yaml"/>
  </node>
-->
  
<!--  <node pkg="camera_info_provider" type="camera_info_provider_node" name="camera_info_provider_node" output="screen" ns="stereo_left">
    <param name="readCamInfoFromFile" value="true"/>
    <param name="callCameraManagerService" value="true"/>
    <param name="numCams" value="1"/>
    <param name="camera_service0" value="/stereo_left/set_camera_info"/>
    <param name="camera_image_topic0" value="/stereo_left/image_raw"/>
    <param name="cam_name_in_file0" value="stereo_left"/>
    <param name="cameraConfigFile" value="$(find inventairy_launch)/config/blackfly_s_17011868_mbzirc2_mono_pinhole_radtan.yaml"/>
  </node>

  <node pkg="camera_info_provider" type="camera_info_provider_node" name="camera_info_provider_node" output="screen" ns="stereo_right">
    <param name="readCamInfoFromFile" value="true"/>
    <param name="callCameraManagerService" value="true"/>
    <param name="numCams" value="1"/>
    <param name="camera_service0" value="/stereo_right/set_camera_info"/>
    <param name="camera_image_topic0" value="/stereo_right/image_raw"/>
    <param name="cam_name_in_file0" value="stereo_right"/>
    <param name="cameraConfigFile" value="$(find inventairy_launch)/config/blackfly_s_17011870_mbzirc2_mono_pinhole_radtan.yaml"/>
  </node>-->


</launch>
